body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

/* HERO SECTION */
.hero {
  padding-top: 140px;
  padding-bottom: 100px;
  background: linear-gradient(135deg, #0d0453, #000428);
  color: white;
}

.hero-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid rgb(0, 140, 255); */
  border: 4px solid cornflowerblue;
}

.hero-text {
  max-width: 650px;
  margin: 0 auto;
}

/* SECTION GENERAL */
.section {
  padding: 80px 0;
}

.section-title {
  font-weight: 600;
  margin-bottom: 20px;
}

/* SKILLS */
.skill-box {
  display: block;
  padding: 10px;
  background: white;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  border: 1px solid cornflowerblue;
}

/* PROJECTS */
.project-card {
  padding: 20px;
  border-radius: 10px;
  background: white;
}

.project-card h5 {
  font-weight: 600;
  margin-bottom: 8px;
}
